spring:
    application:
        name: AdoptionAndBreedingModule

    rabbitmq:
        host: rabbitmq
        port: 5672
        username: guest
        password: guest

    datasource:
        url: jdbc:postgresql://postgres:5432/adoption_breeding
        username: postgres
        password: admin

    jpa:
        hibernate:
            ddl-auto: create
        #        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true

    security:
        user:
            name: admin
            password: 1234
    jwt:
        secret-key: 4ioX3ogCr4GAZ9gB99txf1LyhqVOmTJ8RsL9hyJzZXQ=

feed:
    weights:
        recency: 0.4
        totalReacts: 0.3
        petCategoryAffinity: 0.25
        postCategoryAffinity: 0.2
    freshness-window-hours: 96

server:
    port: 8082
    error:
        include-message: always
        include-binding-errors: always

logging:
    level:
        org.springframework.cache: DEBUG
        org.springframework.data.redis.cache: DEBUG