spring:
    application:
        name: AdoptionAndBreedingModule

    rabbitmq:
        host: localhost
        port: 5672
        username: guest
        password: guest

    datasource:
        url: jdbc:postgresql://localhost:8090/adoption-breeding
        username: postgres
        password: admin

    jpa:
        hibernate:
            ddl-auto: create
#        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true

    security:
        user:
            name: admin
            password: 1234

server:
    port: 8080
    error:
        include-message: always
        include-binding-errors: always

jwt:
    secret-key: 4ioX3ogCr4GAZ9gB99txf1LyhqVOmTJ8RsL9hyJzZXQ=

logging:
    level:
        org.springframework.cache: DEBUG
        org.springframework.data.redis.cache: DEBUG
