spring:
  application:
    name: RegistrationModule

  datasource:
    password: admin
    url: jdbc:postgresql://localhost:8090/postgres
    username: postgres

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

    # show-sql: true

  cache:
    type:
      redis
    redis:
      host: localhost
      port: 6379

  security:
    user:
      name: admin
      password: 1234

  jwt:
    secret-key:
      4ioX3ogCr4GAZ9gB99txf1LyhqVOmTJ8RsL9hyJzZXQ=

  access:
    token:
      expiration:
        300000

  refresh:
    token:
      expiration:
        86400000

  sendgrid:
    key: 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

  email:
    sender:
      petzaniasystem@gmail.com
paypal:
  client-id: AcWmUFleXWmsAqACRIjcrfCwEwSfrBy7v3kYe5ejrwqxceOsh8kwdmzm0fkLeRgWe6Md5h1Nfv36_YGU
  client-secret: ENw9DhaESNiPv6XmjDjtEPTw2_6Y5KxPOkOiSPI64sY8vZsKaI1lVJGNpePSg6YBB4d6-d9Wu8yrbdge
  mode: sandbox
  return-url: "http://localhost:8080/api/payment/success"
  cancel-url: "http://localhost:8080/api/payment/cancel"
  brand-name: "PetZania"
  user-action: "PAY_NOW"
  landing-page: "LOGIN"
  intent: "CAPTURE"
server:
  error:
    include-message: always
    include-binding-errors: always


resilience4j.ratelimiter:
  instances:
    ### User Service Limiters
    loginRateLimiter:
      limitForPeriod: 10  # Up to 10 login attempts
      limitRefreshPeriod: 5m  # Reset after 5 minutes
      timeoutDuration: 0  # No wait time (Default is 5 sec)

    sendOtpRateLimiter:
      limitForPeriod: 5
      limitRefreshPeriod: 2m

    verifyOtpRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 2m

    refreshTokenRateLimiter: # don't know how much should I put
      limitForPeriod: 20
      limitRefreshPeriod: 10m

    logoutRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 10m

    registerRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 5m

    ### Pet Service Limiters
    savePetRateLimiter:
      limitForPeriod: 5
      limitRefreshPeriod: 2m

    updatePetRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 3m

    deletePetRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 3m

    ### Admin Service Limiters
    updateAdminRateLimiter:
      limitForPeriod: 5
      limitRefreshPeriod: 1m
      timeoutDuration: 0

    saveAdminRateLimiter:
      limitForPeriod: 3
      limitRefreshPeriod: 2m
      timeoutDuration: 0

    deleteAdminRateLimiter:
      limitForPeriod: 3
      limitRefreshPeriod: 2m
      timeoutDuration: 0
logging:
  level:
    org.springframework.cache: DEBUG
    org.springframework.data.redis.cache: DEBUG
