spring:
  application:
    name: RegistrationModule

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${REGISTRATION_DB_URL}


  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

    # show-sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
    cache:
      type: redis

  security:
    user:
      name: ${SECURITY_USER_NAME}
      password: ${SECURITY_USER_PASSWORD}

  jwt:
    secret-key:
      ${SPRING_JWT_SECRET_KEY}

  access:
    token:
      expiration:
        ${ACCESS_TOKEN_EXPIRATION}

  refresh:
    token:
      expiration:
        ${REFRESH_TOKEN_EXPIRATION}

  sendgrid:
    key: ${SPRING_SENDGRID_KEY}


  email:
    sender:
      ${SPRING_EMAIL_SENDER}

  aws:
    access-key:
      ${SPRING_AWS_ACCESS_KEY}
    secret-access-key:
      ${SPRING_AWS_SECRET_ACCESS_KEY}
    region: ${SPRING_AWS_REGION}
    bucket-name: ${SPRING_AWS_BUCKET_NAME}
    cdn-url: ${SPRING_AWS_CDN_URL}
    max-size:
      image: ${SPRING_AWS_MAX_SIZE_IMAGE}
      video: ${SPRING_AWS_MAX_SIZE_VIDEO}
      text: ${SPRING_AWS_MAX_SIZE_TEXT}
      application-pdf: ${SPRING_AWS_MAX_SIZE_PDF}
    allowed-types:
        - image/jpeg
        - image/png
        - video/mp4
        - text/plain
        - application/pdf

server:
  error:
    include-message: always
    include-binding-errors: always
  port: ${REGISTRATION_SERVER_PORT}


resilience4j.ratelimiter:
  instances:
    ### User Service Limiters
    loginRateLimiter:
      limitForPeriod: 100  # Up to 10 login attempts
      limitRefreshPeriod: 10s  # Reset after 5 minutes
      timeoutDuration: 0  # No wait time (Default is 5 sec)

    sendOtpRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    verifyOtpRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    refreshTokenRateLimiter: # don't know how much should I put
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    logoutRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    registerRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    ### Pet Service Limiters
    savePetRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    updatePetRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    deletePetRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    addPetPictureRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    ### Admin Service Limiters
    updateAdminRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s
      timeoutDuration: 0

    saveAdminRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s
      timeoutDuration: 0

    deleteAdminRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s
      timeoutDuration: 0

    ### Cloud Service Limiters
    mediaUploadLimiter:
      limit-for-period: 100
      limit-refresh-period: 10s
      timeout-duration: 0

    mediaUrlLimiter:
      limit-for-period: 100
      limit-refresh-period: 10s
      timeout-duration: 0


logging:
  level:
    org.springframework.cache: DEBUG
    org.springframework.data.redis.cache: DEBUG
    org.springframework.data.redis: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
    io.lettuce.core: DEBUG
    com.example.registrationmodule.service.impl.EmailService: DEBUG
    com.example.registrationmodule.service.impl.UserService: DEBUG
    com.example.registrationmodule.config.EmailConfig: DEBUG
    com.sendgrid: DEBUG
