spring:
  application:
    name: RegistrationModule

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  datasource:
    password: admin
    url: jdbc:postgresql://postgres:5432/postgres
    username: postgres


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

    # show-sql: true

  data:
    redis:
      host: redis
      port: 6379
    cache:
      type: redis

  security:
    user:
      name: admin
      password: 1234

  jwt:
    secret-key:
      4ioX3ogCr4GAZ9gB99txf1LyhqVOmTJ8RsL9hyJzZXQ=

  access:
    token:
      expiration:
        900000

  refresh:
    token:
      expiration:
        86400000

  sendgrid:
    key: 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


  email:
    sender:
      petzaniasystem@gmail.com

  aws:
    access-key:
      AKIA4LWSL3LGHUPC3QWG
    secret-access-key:
      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
    region: eu-north-1
    bucket-name: petzania-media
    cdn-url: "https://d1xkc8gz1va7ak.cloudfront.net"
    max-size:
      image: 10485760
      video: 52428800
      text: 5242880
      application-pdf: 10485760
    allowed-types:
        - image/jpeg
        - image/png
        - video/mp4
        - text/plain
        - application/pdf

server:
  error:
    include-message: always
    include-binding-errors: always
  port: 8080


resilience4j.ratelimiter:
  instances:
    ### User Service Limiters
    loginRateLimiter:
      limitForPeriod: 100  # Up to 10 login attempts
      limitRefreshPeriod: 10s  # Reset after 5 minutes
      timeoutDuration: 0  # No wait time (Default is 5 sec)

    sendOtpRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    verifyOtpRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    refreshTokenRateLimiter: # don't know how much should I put
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    logoutRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    registerRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    ### Pet Service Limiters
    savePetRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    updatePetRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    deletePetRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    addPetPictureRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s

    ### Admin Service Limiters
    updateAdminRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s
      timeoutDuration: 0

    saveAdminRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s
      timeoutDuration: 0

    deleteAdminRateLimiter:
      limitForPeriod: 100
      limitRefreshPeriod: 10s
      timeoutDuration: 0

    ### Cloud Service Limiters
    mediaUploadLimiter:
      limit-for-period: 100
      limit-refresh-period: 10s
      timeout-duration: 0

    mediaUrlLimiter:
      limit-for-period: 100
      limit-refresh-period: 10s
      timeout-duration: 0


logging:
  level:
    org.springframework.cache: DEBUG
    org.springframework.data.redis.cache: DEBUG
    org.springframework.data.redis: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
    io.lettuce.core: DEBUG
    com.example.registrationmodule.service.impl.EmailService: DEBUG
    com.example.registrationmodule.service.impl.UserService: DEBUG
    com.example.registrationmodule.config.EmailConfig: DEBUG
    com.sendgrid: DEBUG
